<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is a header at level 1 </h1>
<h2>This is header at level 2</h2>
<h2>This is another <strong>header</strong> at level 2</h2>
<p>This is the <strong>wonderful</strong> html <strong>page</strong> I made in class. Awesome.</p>
<p>This html <em>practice</em> will <em>make</em> me a website creator.</p>
</body>

<p> My Favorite Foods:</p>

<ul>

    <li>Pizza</li>
    <li>Chicken</li>
    <li>Steak</li>
    <li>Burgers</li>

</ul>

<p> My Favorite Foods:</p>

<ol>

    <li>Pizza</li>
    <li>Chicken</li>
    <li>Steak</li>
    <li>Burgers</li>

</ol>

<table>
    <tr>
        <th>Course</th>
        <td>Semester</td>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring 24</td>
    </tr>
        <td>BMGT434</td>
        <td>Fall 23</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Spring 23</td>
    </tr>
</table>

<p>A link to <a href='/hello'>hello</a> on this Web page.</p>
<p>A link to <a href='https://www.amazon.com/'>Amazon</a> on this Web page.</p>
<p>A link to <a href='/https://www.walmart.com/'>Walmart</a> on this Web page.</p>

<p>Here's a picture of the Smith logo.</p>
<img src='https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png'
 width="267" height="72" alt="Smith logo">
<!--This is a comment about my web page. It will not display when the page loads-->
<!--This is a comment about my web page. It will not display when the page loads-->
<!--This is a comment about my web page. It will bot display when the page loads-->

    </tr>

    </th>
</table>




</html>